* {
  box-sizing: border-box;
}
div {
  margin-top: 50px;
}
.button-unlock {
  background-color: rgb(103, 211, 103);
  width: 100px;
  height: 40px;
  cursor: pointer;
}
.button-block {
  background-color: rgb(227, 117, 117);
  width: 100px;
  height: 40px;
  cursor: pointer;
}
#input {
  width: 200px;
  height: 40px;
}

/* доп.кнопка */

.change-text {
  background-color: rgb(67, 174, 236);
  width: 100px;
  height: 40px;
  cursor: pointer;
}
